# Model IDs
TRELLIS2_MODEL_ID=microsoft/TRELLIS.2-4B
TRELLIS1_MODEL_ID=microsoft/TRELLIS-image-large

# Generation parameters
SPARSE_STRUCTURE_STEPS=12
SPARSE_STRUCTURE_CFG=7.5
SLAT_STEPS=12
SLAT_CFG=3.0

